
// Body
$body-bg: #edeef0;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors

$theme-colors: (
  "primary": rgb(23, 162, 184),
);